.article2 {
    background-color: $veryLightGray;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    
    &__grid {
        // display flex for medium screens and up

        @include breakpoint-down(large) {
            display: block;
            text-align: center;
        }
        @include breakpoint-up(medium) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__item {
        background-color: white;
        padding: 0.9375rem;
        margin: 10px;

        @include breakpoint-up(large) {
            flex: 48%;
        }
    }
}