/*
@media (min-width: $size) {
    // code goes here
}
*/
.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: 'Public Sans', sans-serif;
  font-size: 1.125rem;
  color: #9698a6;
}

body.noscroll {
  overflow: hidden;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-sa {
  -ms-grid-column-align: space-around;
      justify-self: space-around;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button, .button {
  padding: 0.875rem 2.1875rem;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 700;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

button:hover, .button:hover {
  opacity: 0.7;
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(transparent));
  background-image: linear-gradient(#2d314d, transparent);
}

.header nav {
  position: relative;
  background-color: white;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
}

.header__logo img {
  width: 8.8125rem;
  height: 1.375rem;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 3px;
  background-color: #2d314d;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 0.4px 1px;
          transform-origin: 0.4px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 6px;
}

.header__menu {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: white;
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 5px;
}

.header__menu a {
  display: block;
  color: #2d314d;
  padding: 0.625rem;
  text-align: center;
}

.header__links a {
  position: relative;
  font-size: 0.875rem;
  color: #9698a6;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  left: 0;
  right: 0;
  bottom: -30px;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.header__links a:hover {
  color: #2d314d;
}

.header__links a:hover::before {
  opacity: 1;
}

main p {
  font-size: 0.875rem;
  padding-bottom: 30px;
  color: #9698a6;
  line-height: 1.7;
}

main h1 {
  font-weight: 100;
  font-size: 48px;
  color: #2d314d;
}

main h2 {
  font-weight: 100;
  font-size: 36px;
  color: #2d314d;
}

main h3 {
  font-weight: 100;
  font-size: 24px;
  color: #2d314d;
}

main h4 {
  font-weight: 100;
  font-size: 18px;
  color: #2d314d;
}

.title {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 60px;
}

.article1 {
  background-color: #f3f4f6;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

@media (min-width: 40em) {
  .article1__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 39.9375em) {
  .article1__grid {
    display: block;
    text-align: center;
  }
}

.article1__item {
  padding: 0.9375rem;
}

@media (min-width: 40em) {
  .article1__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (min-width: 64em) {
  .article1__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.article2 {
  background-color: #fafafa;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

@media (max-width: 87.4375em) {
  .article2__grid {
    display: block;
    text-align: center;
  }
}

@media (min-width: 40em) {
  .article2__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.article2__item {
  background-color: white;
  padding: 0.9375rem;
  margin: 10px;
}

@media (min-width: 64em) {
  .article2__item {
    -webkit-box-flex: 48%;
        -ms-flex: 48%;
            flex: 48%;
  }
}

.footer {
  background-color: #2d314d;
  padding: 2.5rem;
  padding-left: 3.5rem;
  font-weight: 100;
  font-size: 0.875rem;
  text-align: center;
}

.footer * {
  margin-bottom: 1.875rem;
}

@media (min-width: 40em) {
  .footer__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 39.9375em) {
  .footer__grid {
    display: block;
  }
}

.footer__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer__links a {
  display: block;
  color: white;
  margin-bottom: 10px;
}

.footer__social a {
  padding: 0px 12px 0px 12px;
}
/*# sourceMappingURL=style.css.map */